html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  background: #000;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #fff;
    align-items: center;
    justify-content: center;
}
footer {
  bottom: 0;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 80px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a{
    color: inherit;
}
.logo{
    width:300px;
    height:80px;
    float:left;
}
.header {
    padding: 50px;
    text-align: left;
    font-size: 50px;
}
.content{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 100px;
    font-family: "Work Sans", Arial, sans-serif;
    align-items: left;
    color: #aaa;
    font-size: 4vh;
    display: flex;
}
.carousel{
    text-align: left;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: black;
    
}
.img_i{
    padding-left: 100px;
    width:600px;
    height:500px;
    float:right;
}
/*navbar*/
.navbar{
    padding-top: 60px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: right;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.button {
  background-color: #000; 
  border: none;
  color: white;
  width: 120px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  float:right;
}
.pbutton1 {
  background-color: rgba(184,134,11,0.6); 
  border: none;
  color: white;
  width: 120px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  float:right;
}
.pbutton2 {
  background-color: rgba(32, 178, 170,0.6); 
  border: none;
  color: white;
  width: 120px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  float:right;
}
.buttonh1:hover {
  background-color: darkgoldenrod;
}
.buttonh2:hover {
  background-color: rgba(32, 178, 170);
}
/*Word Carousel on index*/
.slider-wrapper {
  font-size: 4vh;
  color:#aaa;
  display: flex;
  align-items: left;
  justify-content: left;
}
.slider{
  height: 60px;
  padding-top: 5px;
  padding-left:15px;
  overflow: hidden;
}
.slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.slider-text1 {
  background: darkgoldenrod;
  animation: slide 7s linear infinite;
  padding-bottom: 15px;
}
.slider-text2 {
  background: darkgoldenrod;
  padding-bottom: 15px;
}
.slider-text3 {
  background: darkgoldenrod;
  padding-bottom: 15px;
}
@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-240px;}
  33% {margin-top:-240px;}
  38% {margin-top:-120px;}
  66% {margin-top:-120px;}
  71% {margin-top:0px;}
  100% {margin-top:0px;}
}
/*triangles on index*/
.box_area_i{
    position: absolute;
    top: 0;
    left: 0;
    width:60%;
    height:100%;
    overflow: hidden;
}
.box_area_i li{
    position:absolute;
    display:block;
    list-style: none;
    width: 0;
    height:0;
    animation: animate 20s linear infinite;
    animation-iteration-count: infinite;

}
.box_area_i li:nth-child(1){
    left:86%;
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86.6px solid rgba(184, 134, 11,0.8);
    animation-delay: 1s;
}
.box_area_i li:nth-child(2){
    left:40%;
    border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 138.56px solid rgba(184, 134, 11,0.8);
    animation-delay: .8s;
}
.box_area_i li:nth-child(3){
    left:60%;
    border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 173.2px solid rgba(184, 134, 11,0.8);
    animation-delay: .5s;
    animation-duration: 15s;
}
.box_area_i li:nth-child(4){
    left:75%;
    border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 207.84px solid rgba(184, 134, 11,0.8);
    animation-delay: 0s;
}
@keyframes animate{
    0%{
        transform: translate(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translate(-800px) rotate(360deg);
        opacity: 0;
    }
}
/*Footer*/
footer_nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
footer li {
    display: inline;
    padding:10px;
    list-style: none;
}
.ftco-footer {
  font-size: 20px;
  padding: 5em 0;
  padding-bottom: 3em;
}
.ftco-section {
  padding: 2em 0;
  position: relative;
}

footer {
  bottom: 0;
}

.footer-text {
  color: #fff;
}
/*triangle on about*/
.box_area_a{
    position: absolute;
    top: 0;
    left: 0;
    width:60%;
    height:100%;
    overflow: hidden;
}
.box_area_a li{
    position:absolute;
    display:block;
    list-style: none;
    width: 0;
    height:0;
    animation: animate 20s linear infinite;
    animation-iteration-count: infinite;

}
.box_area_a li:nth-child(1){
    left:86%;
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86.6px solid rgba(32, 178, 170,0.8);
    animation-delay: 1s;
}
.box_area_a li:nth-child(2){
    left:40%;
    border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 138.56px solid rgba(32, 178, 170,0.8);
    animation-delay: .8s;
}
.box_area_a li:nth-child(3){
    left:60%;
    border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 173.2px solid rgba(32, 178, 170,0.8);
    animation-delay: .5s;
    animation-duration: 15s;
}
.box_area_a li:nth-child(4){
    left:75%;
    border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 207.84px solid rgba(32, 178, 170,0.8);
    animation-delay: 0s;
}
@keyframes animate{
    0%{
        transform: translate(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translate(-800px) rotate(360deg);
        opacity: 0;
    }
}
.content_a{
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 20px;
    padding-right: 200px;
    font-family: "Work Sans", Arial, sans-serif;
    align-items: left;
    color: #aaa;
    font-size: 30px;
    display: flex;
}